/* Idée : faire un scale X sur les blocs pour une brève decription du projet après un clic, puis proposer un bouton pour approf */


/* IMPORT DES POLICES */

@font-face {
    font-family: "astro";
    src: url(fonts/astronaut/ASTRONAU.TTF);
}

@font-face {
    font-family: "lcd";
    src: url(fonts/modern-lcd-7/modern_lcd-7.ttf);
}

@font-face {
    font-family: "balls";
    src: url(fonts/balls-on-the-rampage/BALLSONTHERAMPAGE.ttf);
}

::-webkit-scrollbar {
    display: none;
}

html {
    background: #323641;
    background-repeat: no-repeat;
    background-size: auto;
    user-select: none;
    overflow-x: hidden;
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512 512' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E %3Cpath fill='white' d='M434.215,344.467L92.881,3.134c-4.16-4.171-10.914-4.179-15.085-0.019  c-2.011,2.006-3.139,4.731-3.134,7.571v490.667c0.003,4.382,2.685,8.316,6.763,9.92c4.081,1.603,8.727,0.545,11.712-2.667  l135.509-145.92h198.016c5.891,0.011,10.675-4.757,10.686-10.648C437.353,349.198,436.226,346.473,434.215,344.467z'/%3E %3C/svg%3E"), pointer;
}


/* TITRE */

.titre {
    font-size: 200%;
    font-family: "lcd", Arial, Helvetica, sans-serif;
    margin: 0 auto;
    margin-left: 45%;
    margin-right: 42%;
    color: #c2c2d6;
    margin-top: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    letter-spacing: .15em;
    border-right: .13em solid thistle;
    animation: typ 3s steps(15, end), curseur .75s step-end infinite;
}

.desczoo {
    position: relative;
    text-align: center;
    top: 5vh;
    font-family: "astro", Arial, Helvetica, sans-serif;
    font-size: 200%;
}

.desczoo a {
    color: #ffcc00;
    transition: color 0.6s;
}

.desczoo a:hover {
    color: #c2c2d6;
    transition: color 0.6s;
}

#freb {
    text-decoration: none;
    color: #c2c2d6;
    transition: color 0.6s;
}

#freb:hover {
    color: #ffcc00;
    transition: color 0.6s;
}

.desczoo2 {
    position: relative;
    text-align: center;
    top: 05vh;
    font-family: "astro", Arial, Helvetica, sans-serif;
    font-size: 200%;
}

.easylogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13vh;
    width: 25vh;
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512 512' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E %3Cpath fill='white' d='M434.215,344.467L92.881,3.134c-4.16-4.171-10.914-4.179-15.085-0.019  c-2.011,2.006-3.139,4.731-3.134,7.571v490.667c0.003,4.382,2.685,8.316,6.763,9.92c4.081,1.603,8.727,0.545,11.712-2.667  l135.509-145.92h198.016c5.891,0.011,10.675-4.757,10.686-10.648C437.353,349.198,436.226,346.473,434.215,344.467z'/%3E %3C/svg%3E"), pointer;
    transform: rotate(0deg);
    transition: transform 1s;
}

.easylogo:active {
    transform: rotate(360deg);
    transition: transform 5s;
}

.desczoo1 {
    position: relative;
    text-align: center;
    top: 4vh;
    font-family: "astro", Arial, Helvetica, sans-serif;
    font-size: 200%;
}

.desczoo1 a {
    color: #ffcc00;
    transition: color 0.6s;
}

.desczoo1 a:hover {
    color: #c2c2d6;
    transition: color 0.6s;
}

#grey {
    color: #c2c2d6;
}

#yellow {
    color: #ffcc00;
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512 512' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E %3Cpath fill='white' d='M434.215,344.467L92.881,3.134c-4.16-4.171-10.914-4.179-15.085-0.019  c-2.011,2.006-3.139,4.731-3.134,7.571v490.667c0.003,4.382,2.685,8.316,6.763,9.92c4.081,1.603,8.727,0.545,11.712-2.667  l135.509-145.92h198.016c5.891,0.011,10.675-4.757,10.686-10.648C437.353,349.198,436.226,346.473,434.215,344.467z'/%3E %3C/svg%3E"), pointer;
}

#yellow:hover+#next {
    color: #c2c2d6;
    transition: color 0.5s;
}

#next {
    transition: color 0.5s;
}

.codepen {
    margin-top: 20vh;
}

p {
    color: #8F8F8F;
}


/* BOUTON RETOUR */

.back {
    position: fixed;
    border-radius: 100%;
    border-style: dashed;
    z-index: 10;
    top: 05%;
    left: 1%;
    width: 7vh;
    height: 7vh;
    font-size: 4vh;
    border-width: 3px;
    border-color: black;
    background-color: #ffcc00;
    font-family: "lcd", Arial, Helvetica, sans-serif;
    transform: scale(100%);
    transition: transform 0.5s;
}

.back:hover {
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512 512' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E %3Cpath fill='white' d='M434.215,344.467L92.881,3.134c-4.16-4.171-10.914-4.179-15.085-0.019  c-2.011,2.006-3.139,4.731-3.134,7.571v490.667c0.003,4.382,2.685,8.316,6.763,9.92c4.081,1.603,8.727,0.545,11.712-2.667  l135.509-145.92h198.016c5.891,0.011,10.675-4.757,10.686-10.648C437.353,349.198,436.226,346.473,434.215,344.467z'/%3E %3C/svg%3E"), pointer;
    transform: scale(115%);
    transition: transform 0.5s;
}

.temp {
    position: relative;
    top: 10%;
}

@keyframes typ {
    from {
        width: 0%;
    }
    to {
        width: 13%;
    }
}


/* --effet de curseur-- */

@keyframes curseur {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: thistle;
    }
}