/* Idée : faire un scale X sur les blocs pour une brève decription du projet après un clic, puis proposer un bouton pour approf */


/* IMPORT DES POLICES */

@font-face {
    font-family: "astro";
    src: url(fonts/astronaut/ASTRONAU.TTF);
}

@font-face {
    font-family: "lcd";
    src: url(fonts/modern-lcd-7/modern_lcd-7.ttf);
}

@font-face {
    font-family: "balls";
    src: url(fonts/balls-on-the-rampage/BALLSONTHERAMPAGE.ttf);
}

::-webkit-scrollbar {
    display: none;
}

html {
    background: #323641;
    background-repeat: no-repeat;
    background-size: auto;
    user-select: none;
    overflow-x: hidden;
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512 512' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E %3Cpath fill='white' d='M434.215,344.467L92.881,3.134c-4.16-4.171-10.914-4.179-15.085-0.019  c-2.011,2.006-3.139,4.731-3.134,7.571v490.667c0.003,4.382,2.685,8.316,6.763,9.92c4.081,1.603,8.727,0.545,11.712-2.667  l135.509-145.92h198.016c5.891,0.011,10.675-4.757,10.686-10.648C437.353,349.198,436.226,346.473,434.215,344.467z'/%3E %3C/svg%3E"), pointer;
}

#site {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    top: 15vh;
    width: 150vh;
    height: 80vh;
    border-radius: 30px;
}

a {
    color: #ffcc00;
}

#grey {
    color: #c2c2d6;
}

.descec #title {
    font-size: 2em;
}

.tout {
    transform: translate(0);
    transition: transform 1s;
}

.me {
    position: absolute;
    margin-left: 220vh;
    transform: translate(0vh);
    transition: transform 1s;
    margin-top: -10%;
}


/* TITRE */

.titre {
    font-size: 200%;
    font-family: "lcd", Arial, Helvetica, sans-serif;
    margin: 0 auto;
    margin-left: 30%;
    margin-right: 34%;
    color: #c2c2d6;
    margin-top: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    letter-spacing: .15em;
    border-right: .13em solid thistle;
    animation: typ 3s steps(22, end), curseur .75s step-end infinite;
}


/* BOUTON RETOUR */

.back {
    position: fixed;
    border-radius: 100%;
    border-style: dashed;
    z-index: 10;
    top: -2.1%;
    left: 0.5%;
    width: 7vh;
    height: 7vh;
    font-size: 4vh;
    border-width: 3px;
    border-color: black;
    background-color: #ffcc00;
    font-family: "lcd", Arial, Helvetica, sans-serif;
    transform: scale(100%);
    transition: transform 0.5s;
}

.back:hover {
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512 512' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E %3Cpath fill='white' d='M434.215,344.467L92.881,3.134c-4.16-4.171-10.914-4.179-15.085-0.019  c-2.011,2.006-3.139,4.731-3.134,7.571v490.667c0.003,4.382,2.685,8.316,6.763,9.92c4.081,1.603,8.727,0.545,11.712-2.667  l135.509-145.92h198.016c5.891,0.011,10.675-4.757,10.686-10.648C437.353,349.198,436.226,346.473,434.215,344.467z'/%3E %3C/svg%3E"), pointer;
    transform: scale(115%);
    transition: transform 0.5s;
}

.descec {
    position: relative;
    text-align: center;
    top: 19vh;
    font-family: "astro", Arial, Helvetica, sans-serif;
    font-size: 200%;
}

.source {
    font-family: "astro", Arial, Helvetica, sans-serif;
    font-size: 1.6em;
}

.perti {
    font-family: "astro", Arial, Helvetica, sans-serif;
    font-size: 1.6em;
}


/* PROJETS */


/* Zoo */

.projets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95.5%;
}

.auto h3 {
    font-family: "lcd";
    font-weight: normal;
    font-size: 150%;
    line-height: 45px;
}

.auto {
    border: solid thistle 2px;
    display: block;
    border-radius: 30px;
    width: 23%;
    text-align: center;
    background-color: #c2c2d6;
    margin-top: 10%;
    margin-left: 5%;
    transform: scale(100%);
    transition: transform 0.5s;
}

.auto:hover {
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512 512' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E %3Cpath fill='white' d='M434.215,344.467L92.881,3.134c-4.16-4.171-10.914-4.179-15.085-0.019  c-2.011,2.006-3.139,4.731-3.134,7.571v490.667c0.003,4.382,2.685,8.316,6.763,9.92c4.081,1.603,8.727,0.545,11.712-2.667  l135.509-145.92h198.016c5.891,0.011,10.675-4.757,10.686-10.648C437.353,349.198,436.226,346.473,434.215,344.467z'/%3E %3C/svg%3E"), pointer;
    transform: scale(105%);
    transition: transform 0.5s;
}

.date {
    font-family: "astro", Arial, Helvetica, sans-serif;
    font-size: 1.6em;
}

.imgauto {
    padding-top: -50px;
    border-radius: 20px;
    z-index: 2;
    max-width: 60%;
    line-height: 45px;
}

.descauto {
    font-family: "astro", Arial, Helvetica, sans-serif;
    font-size: 130%;
    font-weight: bold;
    line-height: 20px;
}


/* Easy */

.script h3 {
    font-family: "lcd";
    font-weight: normal;
    font-size: 150%;
    line-height: 45px;
}

.script {
    border: solid thistle 2px;
    display: block;
    border-radius: 30px;
    width: 23%;
    text-align: center;
    background-color: #c2c2d6;
    margin-top: 10%;
    margin-left: 5%;
    transform: scale(100%);
    transition: transform 0.5s;
}

.script:hover {
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512 512' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E %3Cpath fill='white' d='M434.215,344.467L92.881,3.134c-4.16-4.171-10.914-4.179-15.085-0.019  c-2.011,2.006-3.139,4.731-3.134,7.571v490.667c0.003,4.382,2.685,8.316,6.763,9.92c4.081,1.603,8.727,0.545,11.712-2.667  l135.509-145.92h198.016c5.891,0.011,10.675-4.757,10.686-10.648C437.353,349.198,436.226,346.473,434.215,344.467z'/%3E %3C/svg%3E"), pointer;
    transform: scale(105%);
    transition: transform 0.5s;
}

.imgscript {
    max-width: 50%;
    padding-top: -50px;
    z-index: 2;
}

.descscript {
    font-family: "astro", Arial, Helvetica, sans-serif;
    bottom: 1px;
    font-size: 130%;
    font-weight: bold;
}


/* SQL */

.sql h3 {
    font-family: "lcd";
    font-weight: normal;
    font-size: 150%;
    line-height: 45px;
}

.sql {
    border: solid thistle 2px;
    display: block;
    border-radius: 30px;
    width: 23%;
    text-align: center;
    background-color: #c2c2d6;
    margin-top: 10%;
    margin-left: 5%;
    transform: scale(100%);
    transition: transform 0.5s;
}

.sql:hover {
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512 512' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E %3Cpath fill='white' d='M434.215,344.467L92.881,3.134c-4.16-4.171-10.914-4.179-15.085-0.019  c-2.011,2.006-3.139,4.731-3.134,7.571v490.667c0.003,4.382,2.685,8.316,6.763,9.92c4.081,1.603,8.727,0.545,11.712-2.667  l135.509-145.92h198.016c5.891,0.011,10.675-4.757,10.686-10.648C437.353,349.198,436.226,346.473,434.215,344.467z'/%3E %3C/svg%3E"), pointer;
    transform: scale(105%);
    transition: transform 0.5s;
}

.imgsql {
    max-width: 60%;
    padding-top: -50px;
    border-radius: 20px;
    z-index: 2;
}

.descsql {
    font-family: "astro", Arial, Helvetica, sans-serif;
    bottom: 1px;
    font-size: 130%;
    font-weight: bold;
}

@keyframes typ {
    from {
        width: 0%;
    }
    to {
        width: 40%;
    }
}


/* --effet de curseur-- */

@keyframes curseur {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: thistle;
    }
}